@charset "UTF-8";
/* CSS Document */

#main {
    width:750px; height:500px;
    margin:0 auto;	
}

#userinput {
	float:left;
	margin-top:200px;
	padding:20px;
	background-color:chocolate;
	width:300px; height:500px;
	}


#useroutput {
	float:left;
	margin-top:200px;
	margin-left:20px;
	padding:20px;
	width:300px; height:500px;
	background-color:lightpink;	
	}

body {
    background-image: url(donuts3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
}
